* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arsenal', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #555555;
  background: #e8eae6;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #555555;
}

a:visited, a:active {
  color: #555555;
}

ul {
  list-style-type: none;
}


